@media (max-width: 600px){
    header nav{
        flex-direction: column;
        gap: 15px;
    }

    .header-title{
        padding: 0;
    }

    .our-dogs ul li img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }


    li{
        flex: 0 1 40%;
    }


    .helpNeed ul{
        flex-direction: column;
    }

    .our-dogs ul li > p:nth-child(2){
        padding: 3px;
    }

    .our-dogs ul li img{
        padding-top: 0.3rem;
        padding-bottom: 0;
    }
}