h1{
    color: #008000;
}

p{
    size: 2px;
}

ul{
    list-style-type: circle;
}

li{
    background-color: orange;
}

div{
    background-color: aquamarine;
}

.highlight{
    background-color: skyblue;
}

#main-title{
    color: navajowhite;
}

#special-paragraph{
    font-style: italic;
}