*{
    margin: 0;
    padding: 0;
}

body{
    border: solid green 2.5px;
    padding: 1.5em;
}

section{
    border: solid black 2px;
    margin: 1em;
    padding: 2em 14em;
}

div{
    border: solid blue 2px;
    padding: 2em;
}